@model vincent.Models.UserViewModel
<div class="page-wrapper">
    <div>
        <ul>
            <li>@Html.TextBoxFor(m => m.FirstName, new {  @placeholder = "First Name" })</li>
            <li>@Html.TextBoxFor(m => m.Email, new { @placeholder = "E-mail" })</li>
            <li>@Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Phone Number" })</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>@Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name" })</li>
            <li>@Html.PasswordFor( m=> m.Password, new { @placeholder = "password" })</li>
        </ul>
    </div>
</div>